/* cirecss/css/components/_hero.css  ----------------------------------------

name        : hero
description : cirecss hero components
version     : 1.0
since       : July, 2024
author      : Layesall
----------------------------------------------------------------------*/
#cire>main>section.--hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vmin;
}

#cire>main>section.--hero a{
    color: var(--cGreen);
}

#cire>main>section.--hero p{
    font-size: 5vmin;
    margin: 10px 0;
}